html{
  font-size: 8px;
  overflow-x: hidden;
}

nav{
  font-family: 'Sarabun', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 22%);
}

body{
  background-color: hsl(177, 0%, 95%);
}

p{
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
}

h4{
  font-size: 2.8rem;
  margin-top: 1.5rem;
}

i{
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
}

ul{
  list-style: url('../resources/tick-icon.svg');
  padding-left: 4rem;
  padding-top: .5rem;
}

.banner{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.banner-mob{
  display: none;
}

.container-fluid{
  background-color: hsl(0, 0%, 82%);
  font-size: 120%;
  padding-left: 0;
}

.dropdown-menu{
  background-color: hsl(0, 0%, 82%);
}

.navbar-default .navbar-nav>li>a, .dropdown-menu{
  color: hsl(0, 0%, 22%);
}

.navbar-left li a{
  border-right: solid white 1px;
}
/*.navbar-left li a:active{
  background-color: hsl(171, 97%, 36%);
}- color after click*/

.navbar-brand{
  display: none;
}

 #first-option-tab{
   background-color: hsl(176, 58%, 49%);
   color: white;
 }

.navbar-collapse{
  padding-left: 0;
}

.na, .navbar-nav, .navbar-left{
  padding-top: 0;
}
@media only screen and (max-width: 1024px){
  #first-option-tab{
    background-color: hsl(176, 58%, 49%);
    color: white;
    width: 50rem;
    border: 0;
    margin: auto;
  }

  nav{
    font-size: 2rem;
    color: hsl(0, 0%, 22%);
  }

  .banner-d{
    display: none;
  }

  .banner-mob{
    display: block;
    margin-top: 0;
    height: 30rem;
    width: 100%;
    overflow-x: hidden;
  }

  button{
    margin-top: 2rem !important;
    height: 8rem;
    width: 6rem;
  }

  .navbar-default .navbar-toggle .icon-bar {
    height: .5rem;
    width: 3rem;
  }

  .navbar-brand{
    display: block;
  }

  .navbar-default .navbar-brand{
    color: hsl(0, 0%, 22%);
    font-size: 3.6rem;
    margin-top: 2.5rem;
    height: 10rem;
  }

  #LT, #RUS, #ENG{
    color: hsl(0, 0%, 32%);
    font-size: 2.7rem;
    padding: 1.5rem;
  }

  #LT:hover, #RUS:hover, #ENG:hover{
    color: black;
    text-decoration: underline;
  }

  .container-fluid, .navbar-collapse{
    padding-left: 15px;
  }

  .navbar-left li a{
    border-right: 0;
    font-size: 3rem;
    line-height: 1.5;
  }

  .dropdown-toggle{
    font-size: 2.7rem;
  }
}
/*--------------------------------------*/
.text-about-company, .text-about-company-lt{
  text-align: center;
  padding: 3rem;
}

.text-about-company h1, .text-about-company-lt h1{
  margin-bottom: 0;
}

.text-about-company img, .text-about-company-lt img{
  width: 36rem;
  padding: 1rem 0 4rem 0;
}

.text-about-company p{
  width: 90%;
  margin: auto;
}

.text-about-company-lt p{
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
}

.our-values{
  width: 35%;
  padding-left: 2rem;
}

.our-values h3{
  padding: 1rem;
  text-align: center;
  border: solid .25rem;
  border-color: hsl(172, 100%, 34%);
  border-radius: 2rem;
}

/*--------------Services Section------------------*/

.services-that-we-offer, .services_our-advantages_img{
  width: 47%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.services-that-we-offer h3, .services_our-advantages h3{
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  border: solid .25rem;
  border-color: hsl(172, 100%, 34%);
  border-radius: 2rem;
  background-color: rgba(251, 253, 254, 0.88);
}

.services-that-we-offer ul, .services_our-advantages ul{
  border: .25rem;
  border-radius: 2rem;
  background-color: rgba(251, 253, 254, 0.79);
  margin: 3rem 0;
}

.services_our-advantages ul li{
  line-height: 160%;
  padding-top: 1rem;
}

#GPS, #CMR{
  line-height: 150%;
}

#CMR{
  padding-bottom: 2rem;
  margin: 0;
}

.services_our-advantages_img img{
  margin-left: 40%;
}
/*--------------End of Services Section ------------------*/

.map{
  margin: auto;
  margin-right: -0.5%;
  width: 60%;
  height: 60%;
}

.jumbotron-AA {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  background-color: white;
  overflow: hidden;
}

/*--------------Services Section------------------*/
.jumbotron-S{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  background-color: white;
  overflow: hidden;
  flex-direction: row;
  background-image:radial-gradient(rgba(235, 245, 250, 0.57), rgba(235, 245, 250, 0.57)), url(../resources/car-lines.jpeg);
  background-color: rgba(235, 254, 255, 0.5);
  background-position: center;
  background-size: cover;
}
/*--------------End of Services Section------------------*/

@media only screen and (max-width: 1024px){
  .jumbotron-AA, .jumbotron-S{
    flex-direction: column;
    padding-top: 2rem;
  }

  .our-values, .services-list{
    width: 100%;
  }

  .our-values h3, .services-list h3{
    margin-right: 2rem;
  }

/*--------------Services Section mob------------------*/
  .services-that-we-offer, .services_our-advantages_img{
    width: 100%;
  }

  .services_our-advantages_img img{
    display: flex;
    justify-content: center;
  }
/*--------------End of Services Section mob------------------*/
  .map{
    width: 100%;
    margin-top: 3rem;
    margin-right: 0;
  }
}

/*--------------Career Section--------------------------------*/

#underline{
  width: 49rem;
  height: 6rem;
}

.our-career-opportunities{
  background-color: white;
  padding: 1rem 0 3rem 2rem;
}

.career-opportunities{
  padding-top: 1.8rem;
}

#career{
  font-size: 3.8rem;
  font-style: italic;
  list-style: inside;
  text-align: left;
  padding: 2rem;
}

@media only screen and (max-width: 1024px){
  #career{
    font-size: 3.5rem;
  }
}

/*--------------end of Career Section-------------------------*/

/*-----------------------Equipment-------------------------*/
.Actros{
  margin-top: 5rem;
  background-color: hsl(176, 47%, 74%);
  display: flex;
  flex-direction: row;
}

.Actros img{
  width: 580px;
  height: 300px;
  box-shadow: -2px 4px 7px grey;
}

.actros-text{
  padding-left: 3rem;
}

.actros-text p{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.price_and_more{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 1rem;
  align-items: baseline;
  width: 40rem;
  justify-content: space-between;
}

.price{
  font-size: 2.97rem;
}

#more-button{
  font-size: 3rem;
  display: block;
  width: 19rem;
  height: 5rem;
  border-radius: 5px;
  background-color: hsl(205, 82%, 57%);
  text-align: center;
  color: MintCream;
  transition-property: background-color;
  transition-duration: 750ms;
}

#more-button:hover {
  background-color: hsl(43, 97%, 53%);
}

@media only screen and (max-width: 1024px){
  h3{
    font-size: 3.8rem;
  }

  h5{
    font-size: 2rem;
  }

  .Actros{
    flex-direction: column;
  }

  .Actros img{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    border: .5rem solid white;
  }

  .price_and_more{
    width: 83%;
    padding-bottom: 3rem;
  }

  .price{
    font-size: 3.7rem;
    margin-left: 4rem;
  }

  #more-button{
    width: 32rem;
    height: 6rem;
    padding-top: 1rem;
    padding-bottom: .6rem;
  }

}

/*-----------------------end of Equipment-------------------------*/

/*-------------------Footer---------------------*/
footer{
  height: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

footer p{
   font-family: 'Sarabun', sans-serif;
   font-size: 1.8rem;
   font-weight: 500;
   padding-right: 1rem;
}

@media only screen and (max-width: 1024px){
  footer{
    justify-content: center;
    align-items: center;
  }

  footer p{
    margin-top: 1rem;
    font-size: 2rem;
  }
}
/*----------------- Contact Us ---------------------------*/
.contacts_map{
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8rem;
  background-color: hsl(176, 47%, 74%);
}

.contact-us{
  text-align: center;
  width: 35%;
  height: auto;
  margin: auto;
  border: solid .25rem;
  border-color: hsl(172, 100%, 94%);
  padding: 3rem 1rem 3rem 0;
  background-color: white;
}

.contact-us h1{
  color: hsl(0, 0%, 32%);
  font-size: 10rem;
}

.contact-us p{
  padding-left: 1rem;
  color: hsl(0, 0%, 22%);
  font-size: 3rem;
}

.contact-us p b{
  color: hsl(0, 0%, 32%);
  font-size: 3.6rem;
}

.office-map{
  width: 55%;
}

@media only screen and (max-width: 1024px){
  .contacts_map{
    flex-direction: column;
    height: auto;
    margin-top: -3rem;
    padding-top: 2rem;
  }

  .contact-us{
    width: 80%;
  }

  .contact-us p{
    font-size: 3rem;
  }

  .contact-us h1{
    font-size: 5.5rem;
  }

  .contact-us b{
    font-size: 2.2rem;
  }

  .office-map{
    width: 100%;
    margin: 1rem 0 0 1rem;
  }

  iframe{
    width: 100%;
    margin-left: -1rem;
  }
}

/*---- Services / Career opportunities / Equipment for sale ----*/

.coming-soon{
  text-align: center;
  background-color: hsl(176, 47%, 74%);
  height: 25rem;
  /*margin-top: 8rem;*/
}

.coming-soon h1{
  padding-top: 15rem;
}

.coming-soon-rus h1{
  margin: auto;
}

.coming-soon-lt h1{
  /*padding-top: 12rem;
  padding-bottom: 2rem;*/
  margin: auto;
}

@media only screen and (max-width: 1024px){
  .coming-soon{
    margin-top: 3rem;
    height: auto;
    padding: 4rem 2rem 2rem;
  }

  .coming-soon h1, .coming-soon h4, .coming-soon a{
    font-size: 4rem;
    padding: 4rem 2rem;
  }
}

/*----------------------- Russian Text ------------------*/

.text-rus p{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
  line-height: 3.8rem;
  font-variant: no-common-ligatures;
}

.text-rus li{
  margin-bottom: 2rem;
}

.text-rus h4{
  font-size: 2.7rem;
}

.text-rus h3{
  font-size: 3.3rem;
}

#text-rus{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 2.7rem;
  color: hsl(0, 0%, 28%);
}

@media (max-width: 1025px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
       .navbar-nav .open .dropdown-menu > li > a,
       .navbar-nav .open .dropdown-menu .dropdown-header {
           padding: 5px 15px 5px 25px;
       }
       .dropdown-menu > li > a {
           display: block;
           padding: 3px 20px;
           clear: both;
           font-weight: normal;
           line-height: 1.42857143;
           color: #933;
           white-space: nowrap;
       }
       .navbar-header {
           float: none;
       }
       .navbar-toggle {
           display: block;
       }
       .navbar-collapse {
           border-top: 1px solid transparent;
           box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
           padding-right: 0;
           padding-left: 0;
           width: 100%;
           text-align: center;
       }

       .navbar-collapse>ul>li>a {
         padding-left: 15px;
       }

       .navbar-collapse.collapse {
           display: none!important;
       }
       .navbar-nav {
           float: none!important;
           /*margin: 7.5px -15px;*/
           margin: 7.5px 50px 7.5px -15px
       }
       .navbar-nav>li {
           float: none;
       }
       .navbar-nav>li>a {
           padding-top: 10px;
           padding-bottom: 10px;
       }
       .navbar-text {
           float: none;
           margin: 15px 0;
       }
       /* since 3.1.0 */
       .navbar-collapse.collapse.in {
           display: block!important;
       }
       .collapsing {
           overflow: hidden!important;
       }
/*----------------------- Bugs ------------------*/
  body.modal-open {
    overflow: hidden;
    position: fixed;
  }
}

@media (max-width: 768px) {
  .navbar-left li {
    margin-left: 15px!important;
  }
  .dropdown{
    margin-left: 15px!important;
  }

  .text-about-company p{
    width: auto;
  }
}
